---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  image: ImageMetadata;
  alt: string;
  width: number;
  height: number;
}

const { image, alt, width, height } = Astro.props;
---

<main class="w-full mb-4">
  <Image
    layout="full-width"
    src={image}
    alt={alt}
    loading={"eager"}
    width={width}
    height={height}
  />
</main>
