---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section
    class="flex flex-col justify-center items-center min-h-screen text-center py-16 bg-gray-50"
  >
    <h1 class="text-6xl font-bold text-gray-800">404</h1>
    <h2 class="text-2xl text-gray-600 mt-4">Pagina no encontrada</h2>
    <p class="text-gray-500 mt-4 max-w-md mx-auto">
      Lo sentimos, la pagina que buscas no ha sido encontrada o a sido
      eliminada.
    </p>
    <a
      href="/shame-jcce"
      class="mt-8 inline-flex items-center px-6 py-3 text-lg font-medium text-white bg-blue-600 rounded hover:bg-blue-700 focus:ring-2 focus:outline-none focus:ring-blue-300 transition-colors"
    >
      Ir a Inicio
      <svg
        class="ml-2 w-5 h-5"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 7l5 5-5 5M6 12h12"></path>
      </svg>
    </a>
  </section>
</Layout>
