---
import Layout from "../layouts/Layout.astro";
import banner from "@assets/images/banners/banner-del-sitio-ssp2.png";
import BigImage from "@components/ui/BigImage.astro";
import PromoInutil from "@components/features/hero/PromoInutil.astro";
import CarouselSlide from "@components/features/carrousel/CarouselSlide.astro";
import Services from "@components/features/servicios/Services.astro";
---

<Layout title="Home">
  <section class="w-full">
    <BigImage image={banner} width={1150} height={400} alt="aniversario 36" />
    <PromoInutil />
    <Services />
    <CarouselSlide />
  </section>
</Layout>
