---
import Icon from "astro-iconify";

interface Link {
  label: string;
  href: string;
  hasChevroon?: boolean;
}

const { links, isMenuOpen } = Astro.props;
---

<div
  x-show={isMenuOpen}
  x-cloak
  class="fixed inset-0 z-20 bg-bluehead text-white flex flex-col items-center justify-center space-y-6 p-6 transition-transform"
  x-transition:enter="transition transform ease-out duration-300"
  x-transition:enter-start="opacity-0 -translate-y-full"
  x-transition:enter-end="opacity-100 translate-y-0"
  x-transition:leave="transition transform ease-in duration-200"
  x-transition:leave-start="opacity-100 translate-y-0"
  x-transition:leave-end="opacity-0 -translate-y-full"
>
  {
    links.map((link: Link) => (
      <a href={link.href} class="text-lg font-bold hover:underline">
        {link.label}
      </a>
    ))
  }
  <Icon name="mdi:magnify" class="h-9 w-9" />
  <button
    class="absolute top-4 right-4 p-2 focus:outline-none"
    aria-label="Close menu"
    @click="isMenuOpen = false"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
</div>

<style>
  [x-cloak] {
    display: none !important;
  }
</style>
