---
import CommonHead from "../components/shared/CommonHead.astro";
import Footer from "../components/Footer/Footer.astro";
import BaseHeader from "../components/header/BaseHeader.astro";

export interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <CommonHead title={title} description={description} />

  <style is:global>
    :root {
    }
    body {
      background-color: theme(colors.gray.50);
    }
    .animate-in {
      animation: animate-in 0.5s ease-in-out;
    }
    /* Firefox */
    * {
      scrollbar-width: auto;
      scrollbar-color: #c7c7c7 #ededed;
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
      width: 15px;
    }

    *::-webkit-scrollbar-track {
      background: #ededed;
    }

    *::-webkit-scrollbar-thumb {
      background-color: #c7c7c7;
      border-radius: 5px;
      border: 2px solid #ffffff;
    }
    @keyframes animate-in {
      0% {
        opacity: 0;
        transform: translateY(1rem);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    /* Improve Page speed */
    /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
    img {
      content-visibility: auto;
    }
  </style>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
    }
  </style>

  <body class="font-sans text-gray-800 bg-gray-100 scroll-smooth">
    <!-- Header -->
    <BaseHeader />

    <!-- Main content -->
    <main class="min-h-screen">
      <slot />
    </main>

    <!-- Footer -->
    <Footer />
  </body>
</html>
